/*
  AD-14 - Refactorización del Blog
  Archivo de estilos personalizados.

  Importante:
  - Bootstrap ya resuelve gran parte del diseño.
  - Usen este archivo solo para ajustes propios del proyecto.
  - Mantengan una paleta de máximo 5 colores.
*/

html {
  height: 100%;
  width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
}

